*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Azeret Mono;
    /* text-decoration: none; */
}
/* navbar */
.navbar
{
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 164px;
    padding-top: 50px;
    padding-bottom: 45px;
}
#name
{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}
.navbar > button
{
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    width: 258px;
    height: 58px;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    padding: 21px 24px 24px 24px;
    text-align: center;   
    text-decoration: none;
    text-decoration: white;
}

.navbar > button:enabled
{
    text-decoration: none;
    text-decoration: white;
}
.navbar > button >a
{
    color: rgb(13, 19, 33);
    text-decoration: none;
}
/* bannar styles */
.bannar_container
{
    width: 100%;
    height: 652px;
    background-image:url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
.bannar_contents
{ 
    padding: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bannar_contents p
{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.bannar_contents h1
{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}
.bannar_contents button
{
    margin-top: 32px;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
.bannar_contents button a
{
    color: #FAFAFB;
    text-decoration: none;
}
/* main styles */

/* why web dev */
.why_web_development
{
    width: 1140px;
    height: 1395px;
    border-radius: 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 74px;
    padding: 80px 97px 80px 97px;
    background-color: #FAFAFB;
}
.why_web_development h3
{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.why_web_development p
{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin: 24px 0px;
}
.why_web_dev_contianer
{
    margin-top: 48px;
    width: 946px;
    height: 336px;
    padding: 48px;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 16px;
    background-color: #FCFCFD;
    
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    /* background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%); */
}
.why_web_dev_contianer_2
{
    margin-top: 48px;
    width: 946px;
    height: 336px;
    padding: 48px;
    border-radius: 16px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    border-radius: 16px;
    background-color: #FCFCFD;
    /* box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px; */
    /* box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px; */
    /* background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%); */
}
.why_web_dev_contianer_2 >.why_web_dev_text >.why_web_dev_text_container h4
{
    /* width: 390px; */
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.why_web_dev_text_container > h4
{
    width: 590px;
    height: 72px;
    margin: 16px 0px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.why_web_dev_contianer_2 >.why_web_dev_text >.why_web_dev_text_container p
{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    width: 468px;
    height: 52px;
}
.why_web_dev_text_container > button
{
    width: 150px;
    height: 48px;
    background-color: white;
    color: rgb(13, 19, 33);
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}
.why_web_dev_text h4
{    
    /* width: 390px; */
    height: 72px;color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;

}
.why_web_dev_text p
{    
    margin-top: 16px;
    width: 468px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.why_web_dev_text button
{    
    margin-top: 16px;
    /* padding: 12px 20px 12px 20px; */
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
.why_web_dev_text button a
{
    text-decoration: none;
    color: rgb(13, 19, 33);
}
.why_web_dev_text button:enabled
{
    text-decoration: none;
    color: rgb(13, 19, 33);
}
.my_inspiration
{
    margin-top: 88px;
    width: 1140px;
    height: 977px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 0 auto;
    /* border: 2px solid black; */
}
.my_inspiration h3
{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    width: 852px;
    height: 39px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 88px;
}
.my_inspiration p
{
    font-family: Azeret Mono;
    font-size: 16px;
    width: 852px;
    height: 52px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 48px;
    opacity: 0.7;
}
.yt_vid
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;    
}

.yt_vid iframe
{
    border-radius: 16px;
}
/* current target box */
.my_current_target_container
{
    margin-top: 150px;
    width: 1140px;
    height: 463px;
    margin: 0 auto;
    margin-bottom: 111px;
}
.written_content_for_target
{
    width: 852px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.written_content_for_target h4
{
   color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0px;
    width: 852px;
    height: 39px; 
}
.written_content_for_target p
{
    width: 852px;
    height: 52px;
    margin: 24px 0px;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.current_targets
{
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
.current_targets_content
{
    margin-top: 48px;
    /* border: 2px green solid; */
    border-radius: 16px;
    width: 364px;
    height: 300px;
}
.html
{
    width: 284px;
    height: 220px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.html img
{
    width: 56px;
    height: 56px;
    margin-bottom: 24px;
}
.html h1
{
    width: 284px;
    height: 36px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.html p
{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 8px;
    width: 284px;
    height: 52px;
    opacity: 0.7;

}
.html h6
{
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    width: 284px;
    height: 20px;
    margin-top: 24px;
}
.html h6 a
{
    color: rgb(13, 19, 33);
    /* text-decoration: none; */
}
#html_bg
{
    background: rgba(255, 76, 30, 0.05);
}
#css_bg
{
    background-color: rgba(0, 76, 232, 0.05);
}
#js_bg
{
    background-color: rgba(255, 223, 0, 0.05);
}
/* inspiration ends */

/* next target */
.my_next_target_container
{
    width: 1140px;
    height: 1071px;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 24px;
}
.next_target_container_texts
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin: 0 auto;
}
.next_target_container_texts h2
{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    width: 852px;
    height: 39px;
}
.next_target_container_texts p
{
    color: rgb(13, 19, 33);
    margin-top: 24px;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    width: 852px;
    height: 52px;
}

.next_target_component
{
    display: flex;
    margin-top: 48px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background: rgb(255, 255, 255);
}

.next_target_texts
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.next_target_texts h1
{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: left;
    width: 852px;
    height: 39px;
}
.next_target_texts h6
{
    margin-top: 24px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    width: 941.22px;
    height: 20px;
}
.next_target_texts p
{
    margin-top: 8px;
    width: 852px;
    height: 52px;
    margin-top: 24px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
}
.next_target_logos
{    
    /* width: 94.78px;
    height: 108px; */
    margin: 0px 24px;
}
.next_target_logos img
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 94.78px;
    height: 84.41px; */
}

/* i need support */
.i_need_support
{
    background-image: url(../assets/handshake.jpg);
    background-blend-mode: darken;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    width: 1140px;
    height: 314px;
    border-radius: 16px;
    margin-bottom: 16px;
    padding: 64px 48px 64px 48px;
    background: rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(../assets/handshake.jpg);;
}
.support_content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1044px;
    height: 186px;
    margin: 0 auto;
    padding: 64px 48px 64px 48px;
}
.support_content h1
{
    /* width: 230px; */
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;  
    margin: 0 auto;
}
.support_content p
{
    width: 606px;
    height: 52px;
    opacity: 0.7;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;   
    margin-bottom: 24px;
}
.input_section button
{
    width: 120px;
    height: 58px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
background: rgb(255, 255, 255);
    padding: 17px 20px 17px 20px;
}
.input_section input
{
    width: 548px;
    height: 57px;
    padding: 19px 20px 19px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    border: none;
    background: rgb(255, 255, 255);
}
.input_section input placeholder
{
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
}
.input_section
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    justify-content: center;
}


/* footer */
.footer_component
{
    width: 100%;
    margin: 32px 0px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}
.footer
{
    height: 100px;;
}
.footer_content
{
    
    width: 80%;
    height: 100px;
    display: flex;
    margin: 0 auto;;
    margin-top: 40px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.fotter_text
{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0px 16px;
    height: 24px;
    display: flex;
    align-items: center;
    padding: 6.5px;
}
.footer_logos 
{
    margin-top: 40%;
}